{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Koylak Table</h4>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Title </th>
            <th> Create date </th>
            <th> Description </th>
            <th> Price </th>
          </tr>
        </thead>
        <tbody>
          {% for koylak in koylaks %}
          <tr>
            <td> {{ koylak.title }} </td>
            <td> {{ koylak.create_date }} </td>
            <td> {{ koylak.description }} </td>
            <td> {{ koylak.price }} </td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}