{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Shkalad Table</h4>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Title </th>
            <th> Create date </th>
            <th> Description </th>
            <th> Price </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          {% for shokolod in shokolods %}
          <tr>
            <td> {{ shokolod.title }} </td>
            <td> {{ shokolod.created_date }} </td>
            <td> {{ shokolod.description }} </td>
            <td> {{ shokolod.price }} </td> 
            <td>
              <a href="{% url 'sh_update' shokolod.id %}" type="submit" class="btn btn-primary mr-1">Update</a>
              <a href="{% url 'sh_delete' shokolod.id %}" type="submit" class="btn btn-danger mr-1">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}